<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=320, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="css/responsive.css" >
        <title>Web-page</title> 
    </head>
    <body >
        <div id="header3">
            <pre></pre>
        <div class="menu" >
            <input id="menu__toggle" type="checkbox" >
            <label class="menu__btn" for="menu__toggle" >
            <span></span>
            </label>
          <ul class="menu__box" >
            <li><a class="menu__item" href="index.html">Home</a></li>
            <li><a class="menu__item" href="#">Company</a></li>
            <li><a class="menu__item" href="#">Profile</a></li>
            <li><a class="menu__item" href="Tomato all.html">Products</a></li>
            <li><a class="menu__item" href="#">Services</a></li>
            <li><a class="menu__item" href="#">R&D</a></li>
            <li><a class="menu__item" href="contactus.html">Contact</a></li>
          </ul>
        </div>
        <div class=container>
            <div class="row">
            <img id="pc" src="images/Logo.png">
            
            <div class=nav>
                
                <form>
                    <div class=searchinput>
                        <input name=search placeholder=Search>
                        <img src="images/Vector.png">
                    </div>
                </form>
                
                <nav>
                    
                    <a href="index.html">Home</a>
                    <a href=#>Company</a>
                    <a href=#>Profile</a>
                    <a href="Tomato all.html">Products</a>
                    <a href=#>Services</a>
                    <a href=#>R&D</a>
                    <a href="contactus.html">Contact</a> 
                    </div>
                </nav>
                
            </div>
        </div>
        </div>
        <div class="container">
            <a href="Сabbage.html"><img id="pic1" style="padding-right: 10px; padding-top: 10px;" src="images/Arrow 1.png"></a>

        </div>
        <a class="bun" href="Cabbage.html">Return to all Cabbage</a>
        <div style="background-image: url(images/Unionto.png); overflow: hidden;" >
            <div id=Сabb  class="container">
            <div class="row">
                <div class="col-6">
                    <p class="ht">{{product.title}}<b class="gren"><br> {{product.short_text}}</b></p>
                    <p class="offercont__star">
                        * * * * *
                        </p>
                        <img id="pics" src="images/Group 17.png">
                        <p class="text">Very high yield and<br> excellent fruits quality!
                        </p>
                        <p class="chars">CHARACTERISTICS</p>
                        <img id="pc1" src="images/Line 2.png">
                        <p class="toffercont__text" ><b>Resistance</b><br>
                            HR: ToMV:0-2; Fol: 1,2; Ve/Vd;<br> 
                            IR: TYLCV
                            </p>
                        </div> 
                        <div class="col-6">
                            <img id="dior" :src="'img/'+product.image" style="margin-bottom: 30px;">
                            <button type="button" class="btn btn-outline-success btn-rounded" style=" padding: 20px,10px;" @click.prevent="addToCart(product.id)" v-if="!btnVisible"><b> Add to cart</b></button>
                            <button type="button" class="btn btn-outline-success btn-rounded" style=" padding: 20px,10px;" v-on:click='btnClick' v-if="btnVisible"><b> Go to cart</b></button>
                            
                            
                        </div>
                <div class="col-6">
                    <p class="chars" style="margin-block-start: 30px;">Plant</p>
                    <img id="pc1" src="images/Line 2.png" style="margin-block-start: -20px;">
                    <ul style="margin-inline-start: -15px; color:#57984C; font-size:17px">
                        <li><p class="toffercont__text" style="margin-bottom: -0px;">Strong vigor that provides good leaf coverage. </p></li>
                        <li><p class="toffercont__text" style="margin-bottom: -0px;">Very high productivity with good fruit setting.</p></li>
                        <li><p class="toffercont__text" style="margin-bottom: -0px;">Early matured variety.</p></li>
                        <!-- добавьте пункты сюда -->
                      </ul>
                </div>
                <div class="col-6">
                    <p class="chars" style="margin-block-start: 30px; ">Cycle</p> 
                    <img id="pc1" src="images/Line 2.png" style="margin-block-start: -20px;">
                    <ul style="margin-inline-start: -15px; color:#57984C;font-size:17px">
                        <li><p class="toffercont__text" style="margin-bottom: -0px;">Spring</p></li>
                        <li><p class="toffercont__text" style="margin-bottom: -0px;"> Fall </p></li>
                        <li><p class="toffercont__text" style="margin-bottom: -0px;">Winter</p></li>
                        <!-- добавьте пункты сюда -->
                      </ul>
                </div>
                <div class="col-6">
                    <p class="chars" style="margin-block-start: 30px;">Fruit</p>
                    <img id="pc1" src="images/Line 2.png" style="margin-block-start: -20px;">
                    <ul style="margin-inline-start: -15px; color:#57984C; font-size:17px">
                        <li><p class="toffercont__text" style="margin-bottom: -0px;">Long shelf life on plant and post harvest.</p></li>
                        <li><p class="toffercont__text" style="margin-bottom: -0px;">Nice shiny attractive deep red color.</p></li>
                        <li><p class="toffercont__text" style="margin-bottom: 140px;">Average fruit size: 140 – 160 grams.</p></li>
                        <!-- добавьте пункты сюда -->
                      </ul>
                </div>
                <div class="col-6">
                    <p class="chars" style="margin-block-start: 30px; ">Color</p> 
                    <img id="pc1" src="images/Line 2.png" style="margin-block-start: -20px;">
                    <p class="toffercont__text">Red</p>
                </div>
            </div>
            </div>
        </div>
        <div class="aa5">
            <div class="container">
                <div class="row">
                    <div id="Text1" class="col-9" >
                        <span > <a class="silke" href="">PROFILE</a>
                            <a class="silke" href=""> MANAGEMENT</a>
                             <a class="silke" href="">  PRODUCTS</a>
                             <a class="silke" href=""> R&D</a>
                            <a class="silke" href=""> LINKS</a>
                            <a class="silke" href=""> SITEMAP</a> 
                             <a class="silke" href=""> CONTACT</a>
                        </span>
                    </div>
                    <div id="sil2" class=" col-3">
                        <span>
                            <img src="images/linkedin 5 4.png">
                            <img src="images/Ico_inst.png">
                            <img src="images/Ico_tube.png">
                            <img src="images/Ico_tw.png">
                            <img src="images/Ico_fb.png">
                            <pre></pre>
                        </span>
                    </div> 
            </div>  
        </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <p class="col-12"></p>
    
                    <a id="foot" class="col" href="">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</a>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>